#map {
  position: relative;
  width: calc(90% - 10px); /* Réduction de la largeur */
  height: calc(100vh - 255px); /* Hauteur ajustée selon vos besoins */
  margin: 20px auto; /* Marge automatique à gauche et à droite pour centrer */
  border-radius: 7px; /* Arrondi des coins */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère */
  bottom: 20px;
}