section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

/* Styles pour le message d'erreur */
.error-message {
    color: red; /* Couleur du texte en rouge */
    margin-top: 10px; /* Espacement au-dessus du message d'erreur */
}


